<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Talk Flow</string>
  <key>CFBundleDisplayName</key>
  <string>Talk Flow</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Предоставьте доступ к микрофону, чтобы Talk Flow мог записывать ваш голос для перевода в текст.</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.trixter.talkflow</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>talkflow</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
